%h1
  = t('attributes.h1.user_list')
- @members.each do |member|
  %p
    = t('attributes.user.user_name')
    = member.user.first_name
    = member.user.last_name
  %p
    = member.user.email
    %br
    %br
