%h2 Sign up
= form_for(@organization, :url => registration_path(resource_name)) do |org|
  = org.label :organizatoin_code
  = org.text_field :organization_code
  - @organization.users.each_with_index do |g, i|
    = org.fields_for :users, g do |f|
      %div
        = f.label :first_name
        %br/
        = f.text_field :first_name, :autofocus => true
      %div
        = f.label :last_name
        %br/
        = f.text_field :last_name, :autofocus => true
      %div
        = f.label :email
        %br/
        = f.email_field :email, :autofocus => true
      %div
        = f.label :password
        %br/
        = f.password_field :password
      %div
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
    %div= org.submit "Sign up"
  = render "devise/shared/links"
