%h1
  Create next new user
= form_for(@user, :url => {:action => 'create_next_new_user'}) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        prohibited this organization from being saved:
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li
            = msg
  .field
  %div
    = f.label :first_name
    = f.text_field :first_name
  %div
    = f.label :last_name
    = f.text_field :last_name
  %div
    = f.label :email
    = f.email_field :email
  %div
    = f.label :password
    = f.password_field :password
  %div
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  %div
  = f.submit "create"
  .actions
%br/
= link_to 'Back', @organization
