<%= form_for @organization_infos do |f| %>
  <% if @organization_infos.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization_infos.errors.count, "error") %> prohibited this organization from being saved:</h2>
      <ul>
      <% @organization_infos.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <%= f.fields_for @store do |store| %>
    <div class="field">
      <%= store.label :store_name %><br />
      <%= store.text_field :store_name %>
    </div>
  <% end %>
  <%= f.fields_for @product do |product| %>
    <div class="field">
      <%= product.label :product_name %><br />
      <%= product.text_field :product_name %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
