<p id="notice"><%= notice %></p>

<p>
  <b>Organization store:</b>
  <%= @stores.store_name %>
</p>

<p>
  <b>Organization store:</b>
  <%= @products.product_name %>
</p>

<p>
  <b>Organization store:</b>
  <%= @organization_infos.phone %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
