%h1
  =t('attributes.h1.editing_organization_info') 
%p
= form_for(@organization, :url => {action: 'update_organization_infos'}) do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        prohibited this organization from being saved:
      %ul
        - @organization.errors.full_messages.each do |msg|
          %li= msg
  .field
  %br/
  - @organization.organization_infos.each_with_index do |org,i|
    = f.fields_for :organization_infos, org do |info|
      = info.label t('attributes.organization_info.phone')
      %br/
      = info.text_field :phone
      %br/
  %br/
  %br/
  - @organization.products.each_with_index do |org,i|
    = f.fields_for :products, org do |prd|
      = prd.label t('attributes.product.product_name')
      %br/
      = prd.text_field :product_name
      %br/
  %br/
  %br/
  - @organization.stores.each_with_index do |org,i|
    = f.fields_for :stores, org  do |store|
      = store.label t('attributes.store.store_name')
      %br/
      = store.text_field :store_name
      %br/
  .actions
    %br/
    = f.submit
