<h1>Edit organization</h1>
<p id="notice"><%= notice %></p>  
<%= form_for(@organization, :url => :organization_infos) do |f| %>
  <% if @organization.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organization.errors.count, "error") %> prohibited this organization from being saved:</h2>
      <ul>
      <% @organization.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
  </div>
    <br />
      <% @organization.organization_infos.each_with_index do |org,i| %>
        <%= f.fields_for :organization_infos, org do |info| %>
          <%= info.label :phone %><br />
          <%= info.text_field :phone %><br />
        <% end %>
      <% end %>
    <br />
    <br />
    <% @organization.stores.each_with_index do |org,i| %>
      <%= f.fields_for :stores, org  do |store| %>
        <%= store.label :store_name %><br />
        <%= store.text_field :store_name %><br />
      <% end %>
    <% end %>
  <div class="actions">
    <br />
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', organization_infos_path %>
