!!!
%html
  %head
    %title Minicms
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %p{:class => "notice"}
      = notice
    %p{:class => "alert"}
      = alert
    - if user_signed_in?
      %p
        = t('attributes.devise.logged_in_as')
        = current_user.first_name
      = link_to t('attributes.devise.log_out'), destroy_user_session_path, method: :delete
    = yield
